body {
    background-color: cadetblue;
    text-align: center;
}

.titulo {
    display: inline-block;
    font-size: 50pt;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    color: cornsilk;
}

.titulo:hover {
    color: lightgray;
    cursor: pointer;
}

.busca {
    text-align: center;
}

.textbusca {
    font-size: 24pt;
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
}

.inputbusca {
    font-size: 22pt;
    width: 250pt;
    height: 25pt;
    border-radius: 10px;
    padding-left: 10px;
}

.selectbusca {
    color: cornsilk;
    font-size: 14pt;
    padding-top: 20px;
    display: block;
}

.statusbusca {
    color: black;
    font-size: 14pt;
    position: relative;
    font-family: Arial;
}


.dayonebusca {
    color: black;
    font-size: 14pt;
    font-family: Arial;
}

.select-selected {
    background-color: DodgerBlue;
}

.botaobusca {
    background-color: rgb(50, 50, 175);
    color: cornsilk;
    font-size: 14pt;
    width: 80pt;
    height: 35pt;
    border-radius: 10px;
}
.botaobusca:hover {
    background-color: rgb(75, 75, 175);
    color: cornsilk;
    cursor: pointer;
}

.separador {
    color: cornsilk;
    background-color: cornsilk;
    margin-top: 5%;
    margin-bottom: 5%;
}

.visaogeral {
    margin-left:auto; 
    margin-right:auto;
}

.legendatabela {
    color: cornsilk;
}

.tabela > caption {
    text-align: left;
    font-weight: bold;
    font-size: 200%;
    border-bottom: .2em solid rgb(163, 199, 190);
    margin-bottom: .5em;
}

.tabela th,
.tabela td {
  text-align: right;
  padding-right: .5em;
}

.tabela th {
    font-weight: bold;
    padding-left: .5em;
}

.tabela> thead > tr:first-child > th {
    text-align: center;
    color: cornsilk;
}

.tabela > thead > tr + tr > th {
    font-style: italic;
    color: gray;
}

.tabela td {
    background-color: darksalmon;
    padding:.5em .5em .5em 3em;
}

.tabela tbody th:after {
    content: ":";
    }
  