body {
    background-color: cadetblue;
    text-align: center;
}

.titulo {
    display: inline-block;
    font-size: 50pt;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    color: cornsilk;
}

.titulo:hover {
    color: lightgray;
    cursor: pointer;
}

.separador {
    color: cornsilk;
    background-color: cornsilk;
    margin-bottom: 5%;
}

.pesquisa {
    margin-left:auto; 
    margin-right:auto;
}

.countrybusca,
.statusbusca {
    color: black;
    font-size: 14pt;
    font-family: Arial;
    border-radius: 10px;
}

.selectcountry,
.selectstatus {
    font-size: 14pt;
    font-family: Arial;
    color: cornsilk;
}

.botaobusca {
    background-color: rgb(50, 50, 175);
    color: cornsilk;
    font-size: 14pt;
    width: 80pt;
    height: 35pt;
    border-radius: 10px;
}

.botaobusca:hover {
    background-color: rgb(75, 75, 175);
    color: cornsilk;
    cursor: pointer;
}

.tabela {
    margin:auto;
}

.legendatabela {
    color: cornsilk;
}

.tabela > caption {
    text-align: left;
    font-weight: bold;
    font-size: 32pt;
    border-bottom: .2em solid rgb(163, 199, 190);
    margin-bottom: .5em;
}

.tabela th,
.tabela td {
  text-align: right;
  padding-right: .5em;
}

.tabela th {
    font-weight: bold;
    padding-left: .5em;
}

.tabela> thead > tr:first-child > th {
    text-align: center;
    color: cornsilk;
}

.tabela > thead > tr + tr > th {
    font-style: italic;
    color: gray;
}

.tabela td {
    background-color: rgb(39, 134, 179);
    padding:.5em .5em .5em 3em;
    color: cornsilk;
}

.tabela tbody th:after {
    content: ":";
}